<!DOCTYPE html!>
<html lang="ja">
  <head>
    <meta charsest="UTF-8 /">
  </head>
</html>

<header>
  <div class="title">
    <h2>＞Mysite</h2>
  </div>
  <nav>
    <ul class="">
      <li>Portfolio</li>
      <li>Feature</li>
      <li>Profile</li>
      <li>Contact</li>
    </ul>
  </nav>
</header>

<body>
  <main>
    
    <div class="main-visual">
      <div class="main-img"></div>
      <div class="main-text">
        <p>Lorem lpsum</p>
        <p>simply dummy text of the printing</p>
      </div>
      <img ="main-visual">
    </div>
    
    <div class="Portfolio">
      <div class="title">
        <p>Portfolio</p>
        <p>It is a long established fact that a reader will be distracted by the readable<br>
        content of a page when looking at its layout.<br>
        The point of using Lorem lpsum is that it has amore-or-less normal distribution of letters</p>
      </div>
      <div class="portfolio-image"></div>
    </div>
    
    
  </main>
</body>